# Data files #
###################
*.gz
*.fastq*
*.bam
*.bam.bai
*.saf.idx

# Draft and Ancestral Genomes #
################
draft_genome/
ancestral_genome_Du-14/

# Pipeline logs, metadata, and results #
################
*.log
*.out
*.err
*.snakemake*
*.tsv
results/

# Misc files #
################
*.pac
